footer {
  background-color: var(--primary-dark-color);
  color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.icons-contact,
.follow-icons,
.help {
  margin-top: 30px;
  align-items: center;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: 500;
}

.icon {
  margin: 0 8px;
  font-size: 1.7rem;
  cursor: pointer;
}
