/* Style navbar */
.navbar {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 70px;
  display: flex;
  align-items: center;
}

.navbar .logo {
  font-weight: 700;
  font-size: 21px;
  margin: 15px;
  color: var(--secondary-dark-color);
}

.navbar .navbar-items a {
  color: var(--secondary-dark-color);
  font-size: 16px;
  text-decoration: none;
  margin: 15px;
  position: relative;
  opacity: 0.9;
}

/* Creating a circle with number of items */
.num-items {
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(45%, 45%);
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* basket */
.basket {
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  position: relative;
  border: none;
  border-radius: 50%;
  outline: none;
  color: #4d77ff;
  margin: 10px 30px;
}

/* user icon */
.user {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  color: #4d77ff;
}

.navbar .navbar-toggle {
  display: none;
}

/* Add media query */

@media (max-width: 700px) {
  .navba > .navbar-items {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-dark-color);
    left: 0;
    width: 100%;
    height: 100%;
  }
  .navbar-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .navbar-toggle > .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background-color: var(--secondary-dark-color);
  }

  .navbar-toggle > .bar::before,
  .navbar-toggle > .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }

  .navbar-toggle > .bar::before {
    width: 25px;
    transform: translateY(-8px);
    right: 0;
  }

  .navbar-toggle > .bar::after {
    width: 32px;
    transform: translateY(8px);
  }
}
