footer {
  background-color: var(--primary-dark-color);
  color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.icons-contact,
.follow-icons,
.help {
  margin-top: 30px;
  align-items: center;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: 500;
}

h4 {
  margin-bottom: 30px;
  letter-spacing: 2px;
}

#help {
  margin-top: 20px;
}

.icon {
  margin: 0 8px;
  font-size: 1.7rem;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.5);
}

.size-link {
  text-decoration: none;
  color: #fff;
  margin-bottom: 1rem;
}

/* Mobile and Tablet size */
@media (max-width: 500px) {
  footer {
    display: flex;
    flex-direction: column;
  }

  .icons-contact,
  .follow-icons,
  .help {
    align-items: center;
    margin-left: 130px;
  }

  .icon {
    margin-top: 1rem;
  }
  .help .size-link {
    margin-bottom: 1rem;
  }
}
