h2 {
  text-align: center;
  margin: 30px 0 auto auto;
}

/* Categories Style */
.categories {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.category {
  margin: 0 20px;
}

.category:hover {
  background-color: var(--btn-light-color);
  color: var(--primary-dark-color);
  transition: 0.7;
}

/* Creating Item Card */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 1rem;
  gap: 2rem;
  justify-content: center;
  margin: 15rem auto;
}

.item-container {
}

.card {
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(88 88 88 /20%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  padding: 1em 1em 1.5em;
  border-radius: 1px solid transparent;
}

img {
  display: block;
  max-width: 100px;
  height: 100px;
  height: auto;
  margin: 0 auto;
}

.price {
  text-align: center;
  margin: 10px 0;
  font-weight: 700;
}

.title {
  text-align: center;
  margin: 30px 15px;
  font-size: 18px;
}

/* style doesn't apply */
.btn-buy a .btn-link {
  text-decoration: none;
  color: var(--btn-light-color);
}

.btn-buy:hover {
  background-color: var(--secondary-dark-color);
  transition: 0.7;
  color: var(--primary-color);
}

/* Style Search Bar */

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
}

input {
  width: 500px;
  height: 30px;
  outline: none;
  padding: 7px;
  border: 1px solid var(--primary-dark-color);
  border-radius: 10px;
  margin: 30px 20px;
}

input:focus {
  box-shadow: 0 5px 20px rgba(88 88 88 /20%);
}

.btn-search {
  margin-left: 30px;
}

.btn-search:hover {
  background-color: var(--secondary-dark-color);
  color: var(--primary-color);
  transition: 0.7;
}

/* =======Media Queries (Tablets)========= */
@media screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }

  input {
    width: 450px;
  }

  .btn-search {
    margin-left: 10px;
  }
}

/* ==========Media Queries (Mobies) ===========*/
@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  input {
    width: 300px;
  }
}
