.flex-container {
  flex-direction: column;
}

.flex-container .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-container .column-left {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-container .column-left .column-right {
  height: 100%;
}

.column-left {
  margin: 2rem;
}

.column-left img {
  margin-top: -11rem;
}

.column-right {
  margin: 2rem;
}

#btn-add {
  margin: 2rem 1rem;
}

/* insteat of p tag I used div tag to display description */
.description {
  line-height: 1.6;
  font-size: 18px;
  width: 450px;
  margin: 0 auto;
}

.info {
  margin: 5rem auto;
  font-weight: 600;
}

.price {
  margin-top: -5rem;
}

.btn-home {
  margin: 2rem;
}

/* =======Media Queries (Tablets)========= */
@media screen and (max-width: 600px) {
  .column-left img {
    margin-top: -5rem;
  }

  .description {
    height: 300px;
    width: 300px;
    margin-left: 5rem;
  }

  .info {
    margin-left: 5rem;
  }

  .buttons {
    margin-left: 4rem;
  }
}
