@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Outfit:wght@300&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-color: #eeeeee;
  --color-font: #333;
  --primary-color: #ffff;
  --primary-dark-color: #3a3845;
  --secondary-dark-color: #000000;
  --btn-light-color: #efefef;
  --shadow-color: rgba(88 88 88 88 / 20%);
}

body {
  font-family: "Lato", sans-serif;
  color: var(--color-font);
  height: 100vh;
}

.btn-light {
  background-color: var(--btn-light-color);
  border-radius: 8px;
  border-width: 0;
  color: var(--primary-dark-color);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
}

.btn-dark {
  background-color: var(--primary-dark-color);
  border-radius: 8px;
  border-width: 0;
  color: var(--btn-light-color);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
}

.about-link {
  display: flex;
  justify-content: flex-end;
  margin: 30px;
  color: var(--color-font);
}
