@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Outfit:wght@300&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-color: #eeeeee;
  --color-font: #333;
  --primary-color: #ffff;
  --primary-dark-color: #3a3845;
  --secondary-dark-color: #000000;
  --shadow-color: rgba(88 88 88 88 / 20%);
}

body {
  font-family: "Lato", sans-serif;
  color: var(--color-font);
}
